.test-btn{
    width: 100%;
    background-color: aqua;
    align-items: end;
    position: relative;
    .abc{
        position: absolute;
        right: 0%;
        top: 0px;
    }

}
.testimonial h3{
        color: $text;
        margin-bottom: 11px;
        font-size: 28px;
        font-weight: 600;
}



.card2{
    background-color: #F9F9F9;
    padding: 6%;
    width: 100%;
    margin: 10px 10px;
    position: relative;
    h3{
        margin-top: 59px;
        margin-bottom: 15px;
        color: $text;
        font-size: 16px;
        font-weight: 600;
    }
    p{
        font-size: 13px;
        font-weight: 400;
        width: 95%;
        margin-bottom: 15px;

        
    }
    .card2-icons{
        position: absolute;
        top: 20px;
        right: 20px;
    }
    .card2-img{
        position: absolute;
        top: -35px;
        left: 20px;
    }
    .card2-link a{
        text-decoration: none;
        font-weight: 600;
        font-size: 16px;
    }
    
}
.testimonial{
    height: auto;
}
