.benefits-cards{
   width: 100%;
   margin-top: 250px;
   position: relative;
   z-index: 1;

   @include mobile{
    margin-top: 80px;
   }
   
   .b-row{
    z-index:10;

    .col{
        @include mobile{
            margin-top: 10px;
        }
    }
   }

   .benefits-icon{
    width: 40px;
    height: 40px;
    margin-bottom: 20px;
     img{
        width: 100%;
     }
   }

   .benefits-txt{
    width: 100%;
    h3{
        color: $text;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 20px;
    }
    p{
        font-size: 14px;
    }
   }
}