.card1{
    
    .card1icon{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        .icon1{
            width: 46px;
            height: 47px;
        }
    }
 h3{
        color:$text;
        font-size: 18px;
        font-weight: 600;
        margin-bottom:20px ;
    }
    p{
        font-size: 15px;
    }
}

.absorption{
    background-color: #2B98F7;
    width: 198px;
    height: 240px;
    color: white;
    position: relative;
    padding-top: 3%;
    @include mobile{
        width: 100%;
       
    }
    
    .icon2{
       
        width: 144.97px;
        height: 142.36px;
        position: absolute;
        top: -46%;
    }
    .icon3{
       
        height: 32.2px;
        width: 36.3px;
    }
    h4{
        font-size: 22px;
        
        margin-top: 15px;
    }
}
.col{
    margin:0px 7px 0px 7px;
    @include mobile{
        margin: 16% 1%;
    }
}